BASE_URL=http://localhost:5173

PORT=5173
HOST_PORT=5173

DATABASE_PASSWORD=
DATABASE_URL=

DEMO_MODE=true

SUPABASE_KEY=
SUPABASE_ID=

VITE_SUPABASE_PUBLIC=
VITE_SUPABASE_ID=

TOSS_SECRET_KEY=

SEJONG_SECRET_KEY=
VITE_SEJONG_SECRET_KEY=

RESEND_API_KEY=

DEMO_DATABASE_PASSWORD=
DEMO_DATABASE_URL=

DEMO_SUPABASE_KEY=
DEMO_SUPABASE_ID=

VITE_DEMO_SUPABASE_PUBLIC=
VITE_DEMO_SUPABASE_ID=

DEMO_ADMIN_EMAIL=
DEMO_ADMIN_PASSWORD=
DEMO_KAKAO_EMAIL=
DEMO_KAKAO_PASSWORD=
DEMO_GOOGLE_EMAIL=
DEMO_GOOGLE_PASSWORD=
DEMO_GITHUB_EMAIL=
DEMO_GITHUB_PASSWORD=
