BASE_URL=http://localhost:5173
TOSS_SECRET_KEY=
RESEND_API_KEY=

SEJONG_SECRET_KEY=
VITE_SEJONG_SECRET_KEY=


DATABASE_PASSWORD=
DATABASE_URL=

DEMO_MODE=false

SUPABASE_ID=
SUPABASE_KEY=

VITE_SUPABASE_ID=
VITE_SUPABASE_PUBLIC=

DEMO_DATABASE_PASSWORD=
DEMO_DATABASE_URL=

DEMO_SUPABASE_ID=
DEMO_SUPABASE_KEY=

DEMO_VITE_SUPABASE_ID=
DEMO_VITE_SUPABASE_PUBLIC=

DEMO_ADMIN_EMAIL=
DEMO_ADMIN_PASSWORD=
